.logo2{
    display: none;
}
.bgColor{
    background-color: rgba(231,29,54,0.9);
}
.navbar_brand:hover .logo1{
    display: none;
}
.navbar_brand:hover .logo2{
    display: block;
}
.nav_item{
    font-weight: bold;
    font-size: 26px;
}
.navbar_nav .nav_item .nav_link:hover{
    color: #FFFFFF;
}
.btn:hover{
    background-color:#E71D36
}
.footer{
    background-color: rgb(33,35,37);
    color: #fafafa;
    display: block;
}
.footer img:nth-child(1){
    height: 150px;
}
.footer li a{
    color:white;
}
.link{
    background-color: rgb(21, 22, 23);
}