.container{
  padding-top: calc(var(--bs-gutter-x) * 0.5);
  min-height: 95vh;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.layout{
  flex-direction: column;
}
.footer{
 text-align: right;
 padding-right: 1em;
}
.rowColor{
  background-color: rgb(227, 227, 240);
}
