
.main{
    background: linear-gradient(rgba(227,97,33,.4), rgba(0,0,0,.5)) , 
    url(/images/pic4.jpg);
    background-size: cover;
}


.carousel_item img{
    min-height: 400px;
    max-height: 600px;
    object-fit: contain;
}
.teamText{
    font-weight: bold;
    color:white;
}
.card img,.school img{
    height: 150px;
    object-fit: cover;
}
.card_body{
    background-color: rgba(238, 150, 75, 0.3);
}
.btn:hover{
    background-color:#E71D36
}
